.DS_Store
.env
build
node_modules

# We only use pnpm.
bun.lockb
package-lock.json
yarn.lock

# Khulnasoft extension CLI.
khulnasoft-plugin

# Directories used by the Khulnasoft Extension CLI.
/scratch
/output
